body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
}

.nav{
    background-color: #292929;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 30px;
 }

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    font-size: 30px;
}

 /* .nav-link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    font-size: 30px;
 } */

 a{
    color: white;
 }


 /* .logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

 .icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 15%;
 } */

 .content-container{
    display: flex;
    flex-direction: row;
 }