html{
  font-size: 62.5%;
}

/* Homepage */
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
}

.nav{
    background-color: #292929;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 30px;
 }

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    width: 50%;
    font-size: 2rem;
}

.nav-icon{
  height: 36px;
}

.woople-logo{
  height: 36px;
}

 a{
    color: white;

 }

 .content-container{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: space-evenly;
    min-height: 1000px;
    margin: 10px 0px;
 }

 .content{
   display: flex;
   flex-direction: column;
   background-color: #FAFAFA;
 }

 .Product-display{
  display: flex;
  flex-direction: column;
  min-height: 1000px;
  width: 48%;
  text-align: center;
 }

 #iphone-display{
  background-color: #d1d1d1;
 }

 .iphoneThumbnail{
  max-width: 90%
 }

 .macThumbnail{
  max-width: 90%
 }

 #mac-display{
  background-image: radial-gradient(#591E4C 1%,#070707 99%);
  color: white;
 }

 .Title{
  height: 20%;
 }

 .Thumbnail-container{
  display: flex;
  height: 60%;
 }
 
 #phone{
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
 }

 #mac{
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
 }

 .info-container{
  height: 20%;
 }


 /* Mac Page */
 .macbookType-Container{
   display: flex;
   justify-content: center;
   margin-top: 20px;
 }

 .type-content{ 
   display: none;
 }

 .type-content--active{
   display: flex;
   flex-direction: column;
 }

 .type-button{
   font-size: 20px;
   color: black;
   margin: 0px 10px;
   border: none;
 }

 .type-button--active{
   font-size: 20px;
   color: black;
   margin: 0px 10px;
   border-bottom: 2px solid black;
 }

 .comparison-container{
   display: flex;
   justify-content: center;
 }

 .comp-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }



 /* Responsive */
 @media only screen and (max-width: 768px){
  .content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
    margin: 10px 0px;
 }

 #iphone-display{
  min-height: 50%;
  min-width: 90%;
 }

 #mac-display{
  min-height: 50%;
  min-width: 90%;
 }

 .iphoneThumbnail{
  max-width: 70%;
 }

 }

 @media only screen and (max-width: 800px){
  .nav-container{
    width: 80%;
    font-size: 1.5rem;
  }

  .nav-icon{
    height: 20px;
    width: 20px;
  }

  .woople-logo{
    height: 26px;
  }
 }

 /* Testing */
 li{
  display: inline;
 }

 ul{
  display: flex;
  justify-content: space-between;
 }