body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
}

.nav{
    background-color: #292929;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 30px;
 }

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    font-size: 20px;
}

 /* .nav-link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    font-size: 30px;
 } */

 a{
    color: white;
 }


 /* .logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

 .icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 15%;
 } */

 .content-container{
    display: flex;
    flex-direction: row;
 }

 .content{
   display: flex;
   flex-direction: column;
   background-color: #FAFAFA;
 }

 /* Mac Page */
 .macbookType-Container{
   display: flex;
   justify-content: center;
   margin-top: 20px;
 }

 .type-content{ 
   display: none;
 }

 .type-content--active{
   display: flex;
   flex-direction: column;
 }

 .type-button{
   font-size: 20px;
   color: black;
   margin: 0px 10px;
   border: none;
 }

 .type-button--active{
   font-size: 20px;
   color: black;
   margin: 0px 10px;
   border-bottom: 2px solid black;
 }

 .comparison-container{
   display: flex;
   justify-content: center;
 }

 .comp-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }



 